<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"	
    xmlns:util="http://www.springframework.org/schema/util"	
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"	
    xsi:schemaLocation="         http://www.springframework.org/schema/beans	
    http://www.springframework.org/schema/beans/spring-beans.xsd	
    http://www.springframework.org/schema/util	
    http://www.springframework.org/schema/util/spring-util.xsd">

  <bean class="org.apache.ignite.configuration.IgniteConfiguration">
    <property name="discoverySpi">
      <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
        <property name="ipFinder">
          <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.sharedfs.TcpDiscoverySharedFsIpFinder">
            <property name="path" value="/app/efs"/>
          </bean>
      </property>
      </bean>
    </property>

    
    <property name="dataStorageConfiguration">
      <bean class="org.apache.ignite.configuration.DataStorageConfiguration">
        <property name="defaultDataRegionConfiguration">
          <bean class="org.apache.ignite.configuration.DataRegionConfiguration">
            <property name="persistenceEnabled" value="true" />
          </bean>
        </property>
        <property name="storagePath" value="/app/efs" />
      </bean>
    </property>
  </bean>

</beans>